/* ===============================================
   FILE: src/styles/base/_reset.css
   DESCRIPTION: Base styles, resets, and box-sizing.
   =============================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: var(--background-gradient);
    color: var(--text-dark);
}
html, body {
    overflow: hidden;
    position: fixed; /* << ล็อกตำแหน่งของ body */
    width: 100%;
    height: 100%;
}